.outer,.outer1,.outer2,.outer3{
Width:500px;
height:250px;
border:1px solid red;
display:flex;
}

.outer4,.outer5,.outer6,.outer7{
Width:350px;
height:250px;
border:1px solid red;
display:flex;
}

.outer8,.outer9,.outer10,.outer11{
Width:350px;
height:150px;
border:1px solid red;
display:flex;
}

.outer12,.outer13,.outer14{
height:150px;
border:1px solid red;
display:flex;
flex-direction:row;
}

.outer15,.outer16,.outer17,.outer18,.outer19,.outer20,.outer21,.outer22,.outer23,.outer24,.outer25,.outer26,.outer27,.outer28,.outer29,.outer36{
Width:500px;
height:250px;
border:1px solid red;
display:flex;
}

.outer30,.outer31,.outer32,.outer33,.outer34,.outer35{
Width:110px;
height:250px;
border:1px solid red;
display:flex;
flex-wrap:wrap;
}

.outer{
flex-direction:row;
}
.outer1{
flex-direction:row-reverse;
}
.outer2{
flex-direction:column;
}
.outer3{
flex-direction:column-reverse;
}
.outer4{
flex-direction:row;
flex-wrap:wrap;
}
.outer5{
flex-direction:row-reverse;
flex-wrap:wrap;
}
.outer6{
flex-direction:row;
flex-wrap:wrap-reverse;
}
.outer7{
flex-direction:row-reverse;
flex-wrap:wrap-reverse;
}
.outer8{
flex-direction:column;
flex-wrap:wrap;
}
.outer9{
flex-direction:column-reverse;
flex-wrap:wrap;
}
.outer10{
flex-direction:column;
flex-wrap:wrap-reverse;
}
.outer11{
flex-direction:column-reverse;
flex-wrap:wrap-reverse;
}

.outer12  div{
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
}
.outer12  div:nth-of-type(2){
flex-grow:2;
}

.outer13  div{
flex-grow:1;
flex-shrink:1;
flex-basis:0;
}
.outer13  div:nth-of-type(2){
flex-grow:2;
}

.outer14  div{
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
}
.outer14  div:nth-of-type(2){
flex-shrink:2;
}

.outer15{
justify-content:flex-start;
}

.outer16{
justify-content:flex-end;
}

.outer17{
justify-content:center;
}

.outer18{
justify-content:space-around;
}

.outer19{
justify-content:space-between;
}

.outer20{
align-items:flex-start;
}

.outer21{
align-items:flex-end;
}

.outer22{
align-items:center;
}

.outer23{
align-items:stretch;
}

.outer24{
align-items:baseline;
}

.outer25 div{
align-self:flex-start;
}

.outer26 div{
align-self:flex-end;
}

.outer27 div{
align-self:center;
}

.outer28 div{
align-self:stretch;
}

.outer29 div{
align-self:baseline;
}

.outer30 {
align-content:flex-start;
}

.outer31{
align-content:flex-end;
}

.outer32{
align-content:center;
}

.outer33{
align-content:stretch;
}

.outer34{
align-content:space-between;
}

.outer35{
align-content:space-around;
}

.outer36{
height:80px;
}
.outer36 div:nth-of-type(2){
order:1;
}
.outer36 div:nth-of-type(1){
order:3;
}
.outer36 div:nth-of-type(3){
order:4;
}
.outer36 div:nth-of-type(4){
order:2;
}

.innr,.innr1,.innr2,.innr3{
Width:100px;
}

.inner,.inner1,.inner2,.inner3{
Width:100px;
height:50px;
}

span{	
display:table;
margin:auto;
}

.inner,.innr{
background:yellow;
}

.inner1,.innr1{
background:pink;
}

.inner2,.innr2{
background:green;
}

.inner3,.innr3{
background:gray;
}